<div class="social-share-dialog">
    <h3>Share on social media</h3>
    <div class="social-icons">
      <div class="icon">
        <a href="https://www.facebook.com/profile.php?id=61558539231858" class="icon">
          <i class="fab fa-facebook"></i>
          <span>Facebook</span>
        </a>
      </div>
      <div class="icon">
        <a href="https://www.linkedin.com/in/aatesh-singh-332b7324b/" class="icon">
          <i class="fab fa-linkedin"></i>
          <span>LinkedIn</span>
        </a>
      </div>
      <div class="icon">
        <a href="https://x.com/aatesh_singh" class="icon">
          <i class="fab fa-twitter"></i>
          <span>Twitter</span>
        </a>
      </div>
      <div class="icon">
        <a href="https://wa.me/?text=Check%20this%20out%3A%20https%3A%2F%2Fwww.example.com" class="icon">
          <i class="fab fa-whatsapp"></i>
          <span>WhatsApp</span>
        </a>
      </div>
    </div>
</div>
