.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://picasso.cosmofeed.com/picture-profile.s3-ap-south-1.amazonaws.com/my_image1697603382-2023-18-10-04-29-45.png?w=150&q=100');
    background-size: cover;
}


  